.post-card {
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-md);
  transition: transform 0.2s ease;
  background: transparent;

  @include hover { transform: translateY(ptrm(-4)); }

  &__cover {
    aspect-ratio: 4 / 3;
    margin-bottom: ptrm(18);
    border-radius: ptrm(20);
    background: linear-gradient(135deg, #DCEBF6 0%, #B9D6EA 100%);
    background-size: cover;
    background-position: center;
  }

  &__title {
    color: var(--color-dark);
    min-height: ptrm(66);
    margin-bottom: ptrm(16);
    font-size: ptrm(17);
    line-height: 129.4%;
    font-weight: 600;
  }

  &__meta {
    color: var(--color-text-inactive);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: ptrm(13);
  }
}
