.scheme {
  padding: ptrm(70) ptrm(0);
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 1133.5px;
    height: 787.6px;
    top: 165px;
    left: -146px;
    background: rgba(25, 88, 153, 0.18);
    transform: rotate(-6.48deg);
    border-radius: 50%;
    filter: blur(80px);
    pointer-events: none;
    z-index: 0;
  }

  &__inner {
    position: relative;
    z-index: 1;
  }

  @include mobile {
    padding: ptrm(50) ptrm(0);
  }

  &__inner {
    &.container {
      padding: ptrm(0) ptrm(70);

      @include tablet {
        padding: ptrm(0) ptrm(30);
      }

      @include mobile {
        padding: ptrm(0) ptrm(18);
      }
    }
  }

  &__title {
    margin-bottom: ptrm(36);
    font-family: "Onest", sans-serif;
    font-weight: 700;
    font-size: ptrm(34);
    line-height: 1.15;

    @include mobile {
      font-size: ptrm(26);
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: ptrm(22);

    @include tablet {
      grid-template-columns: 1fr 1fr;
    }

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  &__card {
    min-height: ptrm(280);
    padding: ptrm(32) ptrm(32) ptrm(36);
    border-radius: ptrm(24);
    background: rgba(211, 230, 245, 0.4);

    &-tag {
      color: var(--color-text-muted);
      margin-bottom: ptrm(14);
      display: inline-block;
      font-size: ptrm(14);
      font-weight: 600;
    }

    &-title {
      color: var(--color-dark);
      margin-bottom: ptrm(14);
      font-size: ptrm(22);
      font-weight: 600;
    }

    &-text {
      color: var(--color-text);
      font-size: ptrm(14);
      line-height: 157.1%;
    }
  }
}
