<footer class="footer">
  <div class="footer__inner container">
    <div class="footer__rows">
      <div class="footer__row">
        <div class="footer__col">
          <h4 class="footer__col-title">Контакты</h4>
          <div class="footer__list">
            <a class="footer__link" href="tel:+79053169392">8 (905) 316-93-92</a>
            <a class="footer__link" href="#tg">@nickname</a>
            <a class="footer__link" href="mailto:Koffelarkzn716@gmail.com">Koffelarkzn716@gmail.com</a>
            <a class="footer__link" href="#tg2">@nickname</a>
          </div>
        </div>
        <div class="footer__col">
          <h4 class="footer__col-title">Компания</h4>
          <div class="footer__list">
            <a class="footer__link" href="tehplatforma.html">Технологическая платформа</a>
            <a class="footer__link" href="service.html">Сервис и поддержка</a>
            <a class="footer__link" href="about.html">О компании</a>
            <a class="footer__link" href="blog.html">Блог</a>
          </div>
        </div>
        <div class="footer__col">
          <h4 class="footer__col-title">Медиа</h4>
          <div class="footer__list">
            <a class="footer__link" href="#install">Установить приложение</a>
            <a class="footer__link" href="#reviews">Отзывы</a>
            <a class="footer__link" href="#press">О нас говорят</a>
          </div>
        </div>
      </div>
      <div class="footer__row">
        <div class="footer__col">
          <h4 class="footer__col-title">Адрес</h4>
          <div class="footer__list">
            <span class="footer__text">г. Казань, Проспект Победы 173</span>
            <span class="footer__text footer__text--with-margin">Пн - Сб - с 9:00 до 18:00</span>
            <span class="footer__text">Вс - выходной</span>
          </div>
        </div>
        <div class="footer__col">
          <h4 class="footer__col-title">Партнёрам</h4>
          <div class="footer__list">
            <a class="footer__link" href="#franchise">Франшиза</a>
            <a class="footer__link" href="#landlords">Арендодатели</a>
          </div>
        </div>
        <div class="footer__col">
          <div class="footer__socials">
            <a class="footer__social" href="#wa"><span class="visually-hidden">WhatsApp</span><svg class="icon" width="28" height="28"><use href="#icon-whatsapp"/></svg></a>
            <a class="footer__social" href="#tg"><span class="visually-hidden">Telegram</span><svg class="icon" width="28" height="28"><use href="#icon-telegram"/></svg></a>
            <a class="footer__social" href="#vk"><span class="visually-hidden">ВКонтакте</span><svg class="icon" width="28" height="28"><use href="#icon-vk"/></svg></a>
            <a class="footer__social" href="#yt"><span class="visually-hidden">YouTube</span><svg class="icon" width="28" height="28"><use href="#icon-youtube"/></svg></a>
          </div>
          <form class="footer__search" role="search">
            <span class="visually-hidden">Поиск</span> <input class="footer__search-input" type="search" placeholder="Введите запрос..." />
          </form>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <span>Кофелар 2026</span>
      <div class="footer__legal">
        <a class="footer__legal-link" href="#privacy">Политика конфиденциальности</a>
        <a class="footer__legal-link" href="#offer">Публичная оферта</a>
      </div>
    </div>
  </div>
</footer>
