*,
*::before,
*::after {
  box-sizing: border-box;
  margin: ptrm(0);
  padding: ptrm(0);
}

html,
body {
  height: 100%;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  color: inherit;
  font: inherit;
  border: 0;
  cursor: pointer;
  background: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
textarea,
select {
  color: inherit;
  font: inherit;
}

textarea {
  resize: vertical;
}

:focus-visible {
  outline: 2px solid var(--color-dark);
  outline-offset: ptrm(2);
}
